{% extends 'base.html' %}

{% block head %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript"></script>
<link href="/static/css/datepicker.css" rel="stylesheet">



{% endblock %}
{% block content %}
{% if user.is_anonymous %}


        <div class="jumbotron">
            <div class="container">
                <div class="col-md-1"></div>
                <div class="col-md-10 text-center">
                    <h2>Aby mieć dostęp do danych, musisz się zalogować!</h2>
                    <a class="btn btn-primary" href="{% url 'django.contrib.auth.views.login' %}" role="button">Zaloguj &raquo;</a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
{% endif %}
{% if user.is_authenticated %}
 <h1 style="text-align: center" >Diagram</h1>
<div class = "row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    {% if problem %}
        <div class="alert alert-warning alert-danger">{{ problem }}</div>
    {% endif %}
    </div>
    <div class="col-md-2"></div>
</div>
<form role="form" action="{% url 'diagram' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="form-group  col-md-4">
            <div class='input-group date' >
                <input type='text' name="dateStart" class="form-control" value="{{ firstData }}" id="datepicker" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class='input-group date'>
                <input type='text' name="dateEnd" class="form-control" value="{{ lastData }}" id='datepicker2'  />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div  class="row">
        <div class="col-md-2"></div>
        <div class="form-group col-md-8">
            <label for="d{{ forloop.counter }}">{{ r.choice_text }}</label>
            <select name="r"  class="form-control col-md-8">
                {% for r in rooms %}
                <option value="{{ r}}">{{ r }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <input class="form-control btn btn-primary"  type="submit" value="Wygeneruj"  />
        </div>
        <div class="col-md-2"></div>
    </div>

</form>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        <div id="chart_div" style="width: auto; height: 500px; margin-top:20px; "></div>

        <script type="text/javascript">
              google.load("visualization", "1", {packages:["corechart"]});
              google.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = new google.visualization.DataTable();

                data.addColumn('string', 'Data');
                data.addColumn('number', 'Temperatura');
                data.addColumn('number', 'Wilgotność');

                {% for d in data %}

                        var date_obj = new Date('{{ d.timestamp|date:'c' }}');

                        data.addRows([
                                [date_obj.toLocaleString(), {{ d.temperature }}, {{ d.humidity }}]
                        ]);

                {% endfor %}

                var options = {
                  title: 'Pomiary {{ roomName }}',
                  curveType: 'function',
                  lineWidth: 2,
                  colors: ['#9FC700', '#F57D15'],
                  vAxes: {0: {logScale: false, title: 'Temperatura [C]'},
                          1: {logScale: false, minValue: 0, maxValue: 100, title: 'Wilgotność [%RH]'}},

                  series:{0:{targetAxisIndex:0},
                          1:{targetAxisIndex:1}}
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);
              }
            </script>
    </div>

</div>
 <h1 style="text-align: center" >Pomiary {{ roomName }}</h1>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id="tableGraph" class="table">
            <tr>

                <th>Temperatura</th>
                <th>Wilgotność</th>
                <th>Data</th>
            </tr>

            {% for d in data|dictsortreversed:"timestamp" %}
            <tr>
                <td class="col-md-4">{{ d.temperature }} &#x2103</td>
                <td class="col-md-4">{{ d.humidity }} % RH</td>
                <td class="col-md-4">{{ d.timestamp|date:'d-m-Y' }}, {{ d.timestamp|time:'H:i:s' }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
{% endif %}
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script type="text/javascript">

      $(function() {
        $( "#datepicker" ).datepicker({format:'yyyy-mm-dd'});
        $( "#datepicker2" ).datepicker({format:'yyyy-mm-dd'});
      });
</script>
{% endblock %}
